<div>
    <a href="https://www.linkedin.com/in/maricel-d-paul/"><img src="../../../assets/LinkedInLogo.png" id="LinkedIn"></a>
    <a href="https://github.com/MariAilen"><img src="../../../assets/GitHubLogo.png" id="GitHub"></a>
    <a href="https://twitter.com/mari_dpaul"><img src="../../../assets/TwitterLogo.png" id="Twitter"></a>
    <a href="https://www.instagram.com/mari_dpaul/"><img src="../../../assets/InstagramLogo.png" id="Instagram"></a>
    <a href="https://www.facebook.com/mari.dpaul/"><img src="../../../assets/FacebookLogo.png" id="Facebook"></a>
</div>>